@mixin sWidth($prams: 90vw) {
  width: $prams;
  margin: 0 auto;
  max-width: 1170px;
}

@mixin flexProp($prams: center) {
  display: flex;
  justify-content: $prams;
  align-items: center;
}
@mixin btn($prams: rgb(22, 22, 22), $pramrs2: 0.53rem, $height: 50px) {
  padding: $pramrs2;
  height: $height;
  color: $prams;
  border-radius: 5px;
  transition: all 0.5s;
}
@mixin btnGradient {
  background: rgb(96, 160, 254);
  background: linear-gradient(90deg, rgba(96, 160, 254, 1) 0%, rgba(61, 176, 218, 1) 46%, rgba(98, 158, 255, 1) 100%);
}

@mixin sectionHiglight($height: 3px, $width: 70px) {
  content: "";
  height: $height;
  background-color: $color_primary;
  width: $width;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
